<nav>
    <div class="nav-wrapper teal">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li> <a ui-href="contact">Contact</a></li>
            <li><a ui-sref="lets-meet-up">Meet Up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li> <a ui-href="contact">Contact</a></li>
            <li><a ui-sref="lets-meet-up">Meet Up</a></li>
        </ul>
    </div>
</nav>