<div ng-include="'components/material/navbar.html'"></div>
<div ng-include="'components/header/header.html'"></div>
<div class="header teal lighten-5">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Thomas Greco</h1>
                <p>Software developer and teacher specialing in JavaScript, User Interface design, and user experience research.</p>
            </div>
        </div>
    </div>
</div>
<div class="page-header text-center">
    <h1>Schedule City</h1>
</div>
<!-- were doing one day with 1 time slot for simplicity -->
<!-- we'll use angular's ng-repeat in a bit to get the other days and times -->
<div class="row times">
    <div class="col-xs-4 text-center card-panel" ng-repeat="day in days">
        <h2>{{ day.name }}</h2>
        <div class="time-slot" ng-repeat="slot in day.slots">
            <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">
            <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}
                <br>
                <span ng-if="slot.booked">Booked</span>
                <span ng-if="!slot.booked">Available</span>
            </label>
        </div>
    </div>
</div>
<p class="text-center">
    <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
</p>
</div>
<footer class="page-footer teal darken-4">
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            </p> <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </p>
        </div>
    </div>
</footer>